body {
    /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 800px;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    background-color:rgba(51, 47, 47, 0.9);
    color: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px rgba(94, 92, 92, 0.2);
}

header ul {
    display: flex;
    width: 500px;
    list-style-type: none;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.8);
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

footer ul {
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

footer li {
    width: 60px;
    height: 60px;
    margin: 25px 30px;
}

footer img {
    width: 100%;
    height: 100%;
}

#address {
    display: block;
    color: wheat;
}

#contact-info {
    display: block;
    color: wheat;
}